/* La balise Link correspond à une balise <a></a> */
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: brown;
    border-radius: 5px;
}

.active {
    background-color: brown;
    color: white;
}